<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mysystem.dao.MarketDepthDao">

	<resultMap type="MarketDepth" id="marketDepthMap">
		<result column="marketDepthId" property="marketDepthId"/>
		<result column="productId" property="productId"/>
		<result column="brokerCompanyId" property="brokerCompanyId"/>
		<result column="sellPrice" property="sellPrice"/>
		<result column="buyPrice" property="buyPrice"/>
	</resultMap>
	
	<insert id="addMarketDepth" useGeneratedKeys="true" keyProperty="marketDepthId" parameterType="MarketDepth">
		insert into marketdepth
		(marketDepthId,productId,brokerCompanyId,lastUpdateTime,sellPrice,buyPrice) 
		values
		(null,#{productId},#{brokerCompanyId},#{lastUpdateTime},#{sellPrice},#{buyPrice})
	</insert>
	
	<select id="findAllMarketDepthByBrokerCompanyID" parameterType="Integer" resultMap="marketDepthMap">
		select * from marketdepth where brokerCompanyId=#{brokerCompanyId}
	</select>
	
	<select id="findMarketDepthByProductID" parameterType="Integer" resultType="marketDepth">
		select * from marketdepth where productId=#{productId}
	</select>
	
	<select id="findMarketDepthByID" parameterType="Integer" resultType="marketDepth">
		select * from marketdepth where marketDepthId=#{marketDepthId}
	</select>
	
	<update id="editMarketDepth" parameterType="MarketDepth">
		update marketdepth set lastUpdateTime = #{lastUpdateTime},sellPrice=#{sellPrice},buyPrice=#{buyPrice}
		where marketDepthId=#{marketDepthId}
	</update>
	
	<delete id="deleteAllByBrokerCompanyID" parameterType="Integer">
        delete from marketdepth where brokerCompanyId=#{brokerCompanyId}
    </delete>
</mapper>